{% load static %}
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>Input Number</title>
		<link rel='stylesheet' type='text/css' href='{% static "numapp/css/style.css" %}' />		
	</head>
	<body>
		<h4>数字入力</h4>
		<form action='/numapp/printMsg/' method='POST'>
			<table>
				<tr>
					<th>1～10の数字を入力してください</th>
					<td><input type='text' name='num' class='text' /></td>
				</tr>
				<tr>
					<td colspan='2'><input type='submit' value='送信！' /></td>
				</tr>
			</table>
		</form>
	</body>
</html>
